<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <meta http-equiv="refresh" content="5;url=02view.html">  --}}
    <title>{{documentTitle}}</title>

    {{!-- FONT AWESOME VECTOR ICONS --}}
    <link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"
    >

    {{!-- BOOTSTRAP CSS --}}
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous"
    >

    {{!-- GOOGLE ICONS --}}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    {{!-- JQUERY --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- LOCAL CSS --}}   
    <link rel="stylesheet" href="/css/header.css"> 
    <link rel="stylesheet" href="/css/loader.css"> 
    <link rel="stylesheet" href="/css/{{cssPage}}.css"> 

</head>
<body>

    <div class="loader">
        <div class="d-flex justify-content-center">
            <div class="spinner-border spin-custom" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    
    {{{body}}}

    <script src="/loader.js"></script>

    {{!-- POPPER JS --}}
    <script 
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
    crossorigin="anonymous"
    >
    </script>

    {{!-- BOOTSTRAP JS --}}
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
    crossorigin="anonymous"
    >
    </script>

</body>
</html>