{{!-- <style src="header.css"></style> --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark NavigationBar">
  <div class="container-fluid">
    <a class="navbar-brand mainTitle" href="/home">Dynamic Excel Upload</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view" id="viewSchemaButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Schema Details">Schema</a>
        </li>
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> --}}
       <li class="nav-item">
          <a class="nav-link" href="#" id="historyButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View History of Past Uploads">History</a>
        </li>
      </ul>
       <form class="d-flex" method="POST" action="/view/table" novalidate>
          <input class="form-control me-2 nav1" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success nav2" type="submit" aria-disabled="true">Search</button>
        </form>
      
      <form class="d-flex" method="GET" action="/logout">
        <button class="btn btn-sm btn-outline-danger logoutButton" type="submit">
          <span class="material-icons logoutIcon" style="padding-right: 5px;">
          logout
          </span>
          logout
        </button>
      </form>
    </div>
  </div>
</nav>  
<script src="/header.js"></script>