<nav class="navbar navbar-expand-lg navbar-dark bg-dark NavigationBar">
  <div class="container-fluid ">
    <a class="navbar-brand mainTitle" href="/home">Dynamic Excel Upload</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pageNames">
          <a class="nav-link " id="homeButton" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item pageNames">
          <a class="nav-link " href="/view" id="viewSchemaButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Schema Details">Schema</a>
        </li>
       <li class="nav-item pageNames">
          <a class="nav-link " href="/view/table" id="viewDataButton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Uploaded Data">Data</a>
        </li>
      </ul>
       <form class="d-flex" method="POST" action="/view/table" novalidate>
          <input class="form-control me-2 nav1" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success nav2" type="submit" aria-disabled="true">Search</button>
        </form>
      
      <button class="btn btn-sm btn-outline-danger logoutButton" type="submit">
        <span class="material-icons logoutIcon" style="padding-right: 5px;">
        logout
        </span>
        logout
      </button>
    </div>
  </div>
</nav>  

{{!-- <nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkBtn">
    <span class="material-icons-outlined">
      menu
    </span>
  </label>
  <label for="logo">Dynamic Excel Upload</label>
  <ul>
    <li><a href="/home" class="active">Home</a></li>
    <li><a href="/view" id="viewSchemaButton">Schema</a></li>
    <li><a href="/view/table" id="viewDataButton">Data</a></li>
    <li><form class="d-flex" method="GET" action="/logout">
        <button class="btn btn-sm btn-outline-danger logoutButton" type="submit">
          <span class="material-icons logoutIcon" style="padding-right: 5px;">
          logout
          </span>
          logout
        </button>
    </form></li>
  </ul>
</nav> --}}

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="logoutModalContent">
      <div class="modal-header" style="color: white">
        <h5 class="modal-title">Are you sure you want to logout?</h5>
      </div>
      <div class="modal-footer d-flex justify-content-between" id="logoutModalBody">
        <button id="logoutModalCancelBtn"type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a type="button" href="/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div> 

<script src="/header.js"></script>