{{>header}}
 <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <div class="skills">
                <span>simple</span>
                <span>easy</span>
                <span>efficient</span>
            </div>
        </div>
    </div>
<section class="">
<div class="container">
<div class="row justify-content-around">
<div class="col-md-6 text-center app-hero">
<img src="https://cdn.dribbble.com/users/489311/screenshots/6691380/excel-icons-animation.gif" alt="excel" width="70%" />
<div class="cta">

</div>
</div>
<div class="col-md-6 col-lg-5">
     <ol class="process-3">
        <li class="process_item">
            <div class="process__number">
            <span>1</span>
           </div>
   <div class="process__body">
    <h4>choose files</h4>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto doloremque pariatur commodi fuga impedit laborum magni rerum. Nam explicabo voluptatem consequuntur veniam, eaque commodi? Saepe commodi quas hic error incidunt?
</p>
</div>
</li>
<li class="process_item">
<div class="process__number">
<span>2</span>
</div>
<div class="process__body">
<h4>Map columns</h4>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, dicta, dolorum voluptatem blanditiis mollitia quam ipsum quibusdam tempore laboriosam, voluptates at? Similique possimus consectetur totam qui, tempora quos neque? Excepturi.
</p>
</div>
</li>
<li class="process_item">
<div class="process__number">
<span>3</span>
</div>
<div class="process__body">
<h4>preview and upload</h4>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil facilis modi unde nobis quo laboriosam deserunt a quos eligendi? Accusamus nemo, porro blanditiis rem aliquid est vitae placeat ducimus.
</p>
</div>
</li>
</ol>
</div>
</div>

</div>

</section>
<footer class="sticky-footer">
        <!-- <h2>Footer Stick to the Bottom</h2> -->
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            
            <li><a href="#">Contact</a></li>
        </ul>
        <p> © Copyright 2021</p>
    </footer>