{{>header}}
<script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
<script type="text/javascript" src="papaparse.min.js"></script>

{{!--------------------------------- CHOOSE FILE VIEW (FIRST VIEW OF HOMEPAGE) -----------------}}
<div id="chooseFileView">

  <div class="headTitle">
    <h1 id="headTitle-title" class="headTitle-title">Map and Upload Your Excel Files on the Go</h1>
  </div>
  
  <div class="filePickerDiv">

    <h4 id="choseFileInstruction">choose a file or drag and drop a file here</h4>
    <span class="material-icons cloudUploadIcon">
    cloud_upload
    </span>
    <input 
    type="file" 
    name="file"
    class="fileInput" 
    id="input" 
    data-bs-toggle="tooltip" 
    data-bs-placement="bottom" 
    title="Choose a File to Upload"
    accept=".xlsx,.csv,.xls"
    placeholder="chose a .xlsx or .csv file"
    required
    />
    <div class="inputComponent">

      <p id="nameOfFileChosen">no file chosen</p>
      <div class="inputButton">
        <label for="input">
        <span class="material-icons">
         addchart
        </span>
          <span id="chooseFileText">Choose File</span> 
        </label>
      </div>
    </div>

  </div>

  <button class="doneButton" id="doneButton" disabled>
    Done
  </button>

</div>


{{!---------------------- COLUMN MAPPING VIEW (SECOND VIEW OF HOMEPAGE) --------------------}}

<div id="messageWhenNullFileIsChosen" >
  <div>
  <h1>No data to show :(</h1>
  </div>
  <button class="btn btn-sm btn-outline-secondary" onclick="window.location.reload()" >Select Another File</button>
</div>

<div id="mapColumnView" style="display: none;">
  <h2 class="headTitle-title container mapTableHeading">Map your excel columns to our database columns</h2>
  <br>
  <div class="container fileNameandSheetSelectionDropDown">
    <h4 id="fileNameForMappingView" ></h4>

    {{!-- SHEET NO. SELECTION --}}
    <div class="card-body dropDownMenuForSheetNoSelection">
      <select class="form-select" id="sheetNo" aria-label="Default select example">
        <option selected value="1">sheet 1</option>
      </select>
    </div>

  </div>

  <div id="mapColumnDiv" class="container add-border" style="padding: 50px">
    <div class="row">
      <div class="col-md-12">
        {{!-- <span id="cancelBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="discard and choose new file">X</span> --}}
        <i id="cancelBtn" class="fas fa-times" data-bs-toggle="tooltip" data-bs-placement="left" title="discard and choose new file"></i>
        <i id="autoMapBtn" class="fas fa-magic" data-bs-toggle="tooltip" data-bs-placement="right" title="Automap Columns"></i>
      </div>
    </div>
    <div class="row">
      {{#each dbCols}}
        <div class="col-md-3">
          <div class="card column-card">

            <div class="card-body columns">
              {{this.name}}
            </div>
            <div>
              <i class="fas fa-link linkIcon " id="linkIconFor{{this.name}}"></i>
            </div>
            <div class="card-body">
              <select class="form-select dropDownMenus dropDownMenuItems" id="selectedFor{{this.name}}" aria-label="Default select example">
                <option selected>None</option>
              </select>
            </div>
            
          </div>
        </div>
      {{/each}}
    </div>
    
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" id="previewButton" disabled>
        <i class="far fa-eye"></i> Preview
      </button>
      <button class="btn btn-success" id="uploadButton">
        <span id="upBtnNormal">
          <i class="fas fa-cloud-upload-alt"></i> Upload
        </span>
        <span id="upBtnLoad" style="display: none">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...
        </span>
      </button>
    </div>
  </div>

  {{!-- PREVIEW SECTION --}}
  <div id="previewSection" class="container center-align" style="visibility: hidden;">
    <h2 class="headTitle-title previewHeading">Preview</h2>
    <div class="table-responsive add-border tableBody" id="previewTable" style="width: 100%; max-height: 55vh;">
      <table class="preview-table table table-borderless">
        <tbody id="tableBody" class="noborder">
        </tbody>
      </table>
    </div>
    <button class="btn btn-success btn-style add-shadow" id="previewUploadBtn">
      <span id="preUpNormal">
        <i class="fas fa-cloud-upload-alt" style="padding: 5px;"></i> Upload
      </span>
      <span id="preUpLoad" style="display: none">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...
      </span>
    </button>
  </div>





</div>

<!-- Modal -->
<div class="modal fade" id="uploadStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="uploadStatusModalContent">
      <div class="modal-header">
        <h5 class="modal-title">Upload Status</h5>
      </div>
      <div class="modal-body" id="uploadStatusModalBody">
        
      </div>
    </div>
  </div>
</div> 

<script src='/homePage.js'></script>
