<link rel="stylesheet" href="/css/loginPage.css">

  <header>
    <nav class="navbar navbar-expand-lg navigation-wrap">
      <div class="container">
        <a class="navbar-brand" href="#">Dynamic Excel Upload</a>
      </div>
    </nav>
  </header>
   
  <!-- section-1 top-banner -->
  <section id="home">
    <div class="container-fluid px-0 top-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <h1>Welcome To<br>
                Dynamic Excel Upload</h1>
            <p class="intro-text" style="font-size: 25px; padding-left: 10px">3 easy steps</p>
            <div class="intro-text">
              <p>
                <ol>
                  <li>Choose Your file</li>
                  <li>Map the columns</li>
                  <li>Preview and Upload</li>
                </ol>
              </p>
            </div>
            <div class="form-group">
            <div class="mt-4 col-lg-7">
              <input class="form-control input-field" id="textField" placeholder="Enter your phone number" autocomplete="off">
              <input class="form-control input-button" type="submit" id="submitBtn" value="Get OTP">
               <span id="resendBtn" style="display: none">Resend OTP</span>
               <p id="timer" style="display: block"></p>
               <p id="err" class="err-msg" style="color:red"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
          <div class="col-lg-12">
            <img src="/assets/cloud_for_login.svg" class="img-fluid img-responsive " width="100%"  alt=""/>
            <br>
        </div>
        </div>
        
        </div>
      </div>
    </div>
    

  </section>
  



<!-- OTP SESSION TIMEOUT MODAL -->
<div class="modal fade" id="OTPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="OTPModalContent">
      <div class="modal-header">
        <h4 class="modal-title" id="OTPModalTitle" style="color: brown;">OTP Session Timeout</h4>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="OTPTimeoutModalCloseButton">
          <span aria-hidden="true">&times;</span>
        </button> --}}
      </div>
      <div class="modal-body">
        <h6 id="OTPModalMessage">Re-enter your Phone Number and Try Again!</h6>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" id="OTPTimeoutModalRetryButton">Retry</button>
        <button type="button" class="btn btn-success btn-sm" id="OTPTimeoutModalResendButton">Resend OTP</button>
      </div>
    </div>
  </div>
</div>

<script src="/loginPage.js"></script>