<div class = "container">
    <h3>Login</h3>
    <div class="form-group">
        <input id="textField" placeholder="Enter phone number" class="form-control"
            type="text" pattern="[789][0-9]{9}">
        <br>
        <div id="timer"></div>
        <br>
        <button id="submitBtn" class="btn btn-primary">Get OTP</button>
    </div>
</div>


<!-- OTP SESSION TIMEOUT MODAL -->
<div class="modal fade" id="OTPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="OTPModalTitle" style="color: brown;">OTP Session Timeout</h4>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="OTPTimeoutModalCloseButton">
          <span aria-hidden="true">&times;</span>
        </button> --}}
      </div>
      <div class="modal-body" style="color:black;">
        <h6>Re-enter your Phone Number and Try Again!</h6>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" id="OTPTimeoutModalRetryButton">Retry</button>
      </div>
    </div>
  </div>
</div>

<script src="loginPage.js"></script>