<div class = "container">
    <h3>Login</h3>
    <div class="form-group">
        <input id="textField" placeholder="Enter phone number" class="form-control"
            type="text" pattern="[789][0-9]{9}">
        <br>
        <div id="timer"></div>
        <br>
        <button id="submitBtn" class="btn btn-primary">Get OTP</button>
    </div>
</div>

<script src="loginPage.js"></script>