{{>header}}

<div class="container center-align" style="margin-top: 2rem;">
  <input id="searchText" type="search" placeholder="Search..." class="searchbar container center-align">

  {{!-- <button id="searchButton" type="button" class="btn btn-outline-secondary">Search</button> --}}
</div>
 
<div id="viewSection" class="container center-align table-responsive" >
  <div class="div-loader">
    <div class="d-flex justify-content-center">
      <div class="spinner-border spin-custom" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <table class="table view_table table-bordered table-borderless">
    <thead class="table-dark">
      <tr line-height="50px">
        {{#each columns}}
          <th scope="col">{{this.name}}</th>
        {{/each}}
        <th scope="col">Uploaded On</th>
        <th class="fixed-column" scope="col">Options</th>
      </tr>
    </thead>

    <tbody id="tableBody"> 
    </tbody>
    
  </table>
  

</div>

{{!---------- TABLE PAGINATION LINKS ------------}}
<nav>
  <div class="page-nav">
    <div>
      <span id="prevPage" class="pg-link"><i class="fas fa-less-than"></i>   Prev</span>
      <span id="pageNumber">1</span>
      <span id="nextPage" class="pg-link">Next   <i class="fas fa-greater-than"></i></span>
    </div>
  </div>
</nav>

{{!--------- DELETE CONFIRMATION MODAL --------}}
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="deleteModalContent" style="background-color: #2a2b2b; color: white">
      <div class="modal-header">
        <h5 class="modal-title" id="" style="color: brown;">Warning!</h5>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> --}}
      </div>
      <div class="modal-body">
        Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
        <button type="button" id="deleteModalNoBtn" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" id="deleteModalYesBtn" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>

<script src='/viewTable.js'></script>