*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.NavigationBar{
    display: block;
    background-color: #222831 !important;
    position: sticky;
    flex-grow: 1;
    
}

.mainTitle {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;

}

.logoutButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoutIcon {
    font-size: 20px;
}
.nav1 
{
    display: none;
}
.nav2
{
    display: none;
}

.pageNames {
    margin-left: 15px;
}

.active {
    color: #00ead3;
}

#logoutModalContent {
    background-color: #2b2a2a;
}