@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.html{

    height:fit-content;
    width: fit-content;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.dropDownMenus {
    display: none;
    color: #ffffff;
    background-color: #212529;
    border-color: #00EAD3;
}

.dropDownMenuItems {
    color:#ffffff;
    background-color: #212529;
}

.dropDownMenus, .dropDownMenuItems :hover {
    cursor: pointer;
}

.fileNameandSheetSelectionDropDown {
    display: flex;
    align-items: center;
    margin-top: 0;

}

.dropDownMenuForSheetNoSelection {
    display: block;
    margin-top:0;
    margin-left: 10px;
    padding: 0;
    flex: 1 1 auto;

}

.dropDownMenuForSheetNoSelection #sheetNo {
    height: 35px ;
    width: 120px;
    color: #ffffff;
    background-color: #212529;
    border-color: #00EAD3;
}

.dropDownMenuForSheetNoSelection  :hover {
    cursor: pointer;
}

#uploadButton {
    display: none;
}

.nav1 
{
    display: none;
}
.nav2
{
    display: none;
}


/* ----------------------------------------------FIRST VIEW OF HOMEPAGE------------------------------------------------------------------*/

#messageWhenNullFileIsChosen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

#chooseFileView{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* height: 100vh; */
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.headTitle {
    margin-top: 30px;
    background-image: linear-gradient( #f3ec78, #af4261);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.headTitle-title {
    background-image: linear-gradient( 45deg, #f3ec78, #af4261);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

/* span{
    opacity: 0;
    transition: all 1s ease;
}

span.fade {
    opacity: 1;
} */

.filePickerDiv{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
    border: 3px dashed #656464;
    border-radius: 13px;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    /* box-shadow: 0px 0.5px 0px 0px #00EAD3; */

}

.filePickerDiv-over {
    border-style: solid;
}

.filePickerDivContent {
    justify-content: center;
    align-items: center; 
}

#choseFileInstruction {
    font-style: italic;
    color: #656464;
    opacity: 0.7;
    margin: .5rem;
}

.cloudUploadIcon {
    color: #656464;
    font-size: 110px;
    opacity: 0.5;
    transition: all 300ms;
    cursor: context-menu;
}

.cloudUploadIcon:hover {
    opacity: 1;
    color: #00ead3;
}


.inputComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nameOfFileChosen {
    font-style: italic;
    color: #656464;
}

.inputButton :hover{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

label[for="input"] {
    display: flex;
    color: #00ead3;
    height: 40px;
    width: 150px;
    border: 1px solid #00ead3;
    background-color: #00ead3;
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 550;
}


.doneButton {
    border: 1px solid #00EAD3;
    background-color: #000000;
    margin-top: 30px;
    color: #ffff;
    height: 40px;
    width: 100px;
    padding: 1px;
    border-radius: 1.5%;

}

.doneButton:hover{
    
    background-color: #00EAD3;
    color: #000000;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/*********************************** PREVIEW SECTION **************************************/

.previewHeading {
    align-self: flex-start;
    margin-left: 20px;
}

#previewSection {
    border-bottom : 1px solid #444444;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.preview-table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    white-space: nowrap;
    color: #121212;
}

.preview-table th {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    font-weight: bold;
    color: #bbbbbb;
    box-shadow: 0px 0px 1rem #000;
}

#tableRow0 {
    background-color: #212529;
}

#tableRow0 > th {
    position: relative;
}

th > .col-head {
    display: block;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 12px;
    color: #00ead3;
}

.preview-table td {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    min-width: 150px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0px 0px 1rem #000;
}

.add-border {
    border: 1px solid white;
}

.noborder {
    border: 0;
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.btn-style {
    background-color: #00ead3;
    color: #121212;
    font-weight: bold;
    font-size: 20px;
}

.bg-primary {
    background-color: #00ead3;
}

.add-shadow {
    box-shadow: 0px 0px 1rem #000;
}


.messageWhenEmpty {
    color: #656464;
    opacity: 0.7;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-25%);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

/*********************************** MAP COLUMN DIV **************************************/
.col-md-3{
    padding-bottom:10px;
}

#fileNameForMappingView {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
}

#fileNameForMappingView-withFileName {
    color: #00EAD3;
    opacity: 1;
}

.column-card {
    background-color: #1d1d1d;
}

#mapColumnDiv {
    border-top: 0;
    border-bottom: 1px solid #444444;
    border-left: 0;
    border-right: 0;
    margin-top: 30px;
}

.mapTableHeading {
    margin-top : 30px;
}

#cancelBtn{
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
    font-size: 25px;
}
#cancelBtn:hover {
    color: #dc3545;
    cursor: pointer;
}

#autoMapBtn {
    position: relative;
    float: left;
    top: -10px;
    left: -10px;
    font-size: 25px;
}

#autoMapBtn:hover {
    color: #00ead3;
    cursor: pointer;
}
.linkIcon {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 0;
    opacity: 0.4;
    color: #656464;
    transform: rotate(-45deg);
}
.columns {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*********************************** MODAL STYLING **************************************/

#uploadStatusModalContent {
    background-color: #2b2a2a;
}