/* .html{

    height:fit-content;
    width: fit-content;
} */

.dropDownMenus {
    display: none;
}

#uploadButton {
    display: none;
}

body {
    background-color: #000000;
    color: #ffffff;
}

.color-accent {
    color: #00ead3;
}

.color-text {
    color: #f9dfdc; 
}

.preview-table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    /* background-color: #fff; */
    white-space: nowrap;
    color: #121212;
}

.preview-table th {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    font-weight: bold;
    color: #9c9c9c;
    box-shadow: 0px 0px 1rem #000;
}

#tableRow0 {
    background-color: #212529;
    color: #f9dfdc;
}

.preview-table td {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    min-width: 150px;
    font-weight: bold;
    color: #656464;
    box-shadow: 0px 0px 1rem #000;
}

.preview-table tr {
    /* border-bottom: 1px solid #c0c0c0; */
}

.noborder {
    border: 0;
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-style {
    background-color: #00ead3;
    color: #121212;
    font-weight: bold;
    font-size: 20px;
}

.bg-primary {
    background-color: #00ead3;
}

.add-shadow {
    box-shadow: 0px 0px 1rem #000;
}

.columns {
    
}