@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


ul,
ol {
  margin: 0;
  padding: 0;
}


/*===== Variable Define =====*/


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/ 

::-webkit-scrollbar {
  width: 0.625rem;
} 
::-webkit-scrollbar-track {
  background: var(--white-color); 
} 
::-webkit-scrollbar-thumb {
  background:var(--primary-color); 
} 

/*
==========================================
   Custom CSS Design
==========================================
*/
body
{
    background-color:#000000;
}
h1 {
  font-family:'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #00ead3;
}




.intro-text {
  background-image: linear-gradient( 45deg, #f3ec78, #af4261);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family:'Montserrat', sans-serif;
  font-size: 15px;
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color:#f9dfdc;
  padding-left: 10px;
}

.newslatter .h12{
    width:380px;
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    padding-left: 50px;
}




/*
==========================================
   Header Design
==========================================
*/

nav{
  background-image: linear-gradient( 45deg, #f3ec78, #af4261);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.navigation-wrap{
  position:fixed;
  width:100%;
  left:0;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
} 
.navigation-wrap .nav-item{
  padding:0 0.625rem;
  transition:all 200ms linear;
}
.navigation-wrap .navbar-brand{
    font-size:30px;
    color:#f9dfdc;
}
.navbar-toggler:focus{
  outline:unset;
  border:unset;
  box-shadow: none;
}
.nav-link{
  font-size:0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color:#00ead3;
  letter-spacing: 1px;
}


/* Change navbar styling on scroll */

.navigation-wrap.scroll-on{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
  transition:all .15s ease-in-out 0s;
}
.navbar-brand{
  background-image: linear-gradient( 45deg, #f3ec78, #af4261);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


/*
==========================================
   top-banner Design
==========================================
*/


.top-banner{
  width:100%;
  padding-top: 150px;
  padding-bottom: 40px;
}

#timer {
  text-align: center;
  margin-top: 10px;
  color: red;
}

#resendBtn
{
  text-align: center;
  margin-top: 10px;
  color: #00ead3;
}

#resendBtn:hover {
  cursor: pointer;
}

.input-button
{
    border: 2px solid #000000;
    outline: none;
    border-radius: 30px;
    background-color: #00ead3;
    color:#000000;
    height: 50px;
    margin-top: 10px;
}
.input-field
{
    background-color: #000000; 
    border: 2px solid #00ead3;
    outline: none;
    border-radius: 30px;
    height: 50px;
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 1.0;
}
.err-msg
{
    text-align: center;
    margin-top: 10px;
    color:red;
    padding-left: 5px;
}
@media (max-width: 991px) {

    /*custom classes  */
    .text-content{
        width:100%;
    }
     

    /* navbar brand */
    .navigation-wrap .navbar-brand img{
        height:3.8125rem;
    }
    .navigation-wrap{
        text-align: center;
        background-color:#000000;
    }
    .navigation-wrap .navbar-brand{
        font-size:20px;
        color:#00ead3;
      }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    /* Banner Design */
    .top-banner{
        padding:9.375rem 0 9.375rem;
    }

    input 
    {
        width:300px;
    }
    .input-field .input-button{
        width:100px;
     }
    
     
}

@media (max-width: 767px) {

    /* custom css */
    h1{
        font-size:2.8rem;
    }
    h2{
        font-size:2rem;
        line-height: 2.0625rem;
    }
     

    /* top banner */
    .top-banner{
        padding:10.875rem 0 9.375rem;
    }
    

    /* story section */
    .story-section{
        height:auto;
        padding:3rem 0;
    }
    .input-field .input-button{
       width:100px;
    }
    

   
    
     
}

@media (max-width:330px) {

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:13rem 3.125rem;
    }
     
}
@media (max-width: 500px) {
    h1{
        font-size:2.8rem;
    }
    h2{
        font-size:2rem;
        line-height: 2.0625rem;
    }
     

    /* top banner */
    .top-banner{
        padding:10.875rem 0 9.375rem;
    }
    

    /* story section */
    .story-section{
        height:auto;
        padding:3rem 0;
    }
    .input-field .input-button{
        display: flex;
        flex-direction: column;
    }
}
  
        
/*
------------------------------------ OTP MODAL CSS ------------------------------------------
*/

#OTPModalContent {
  background-color: #2b2a2a;
  color: white;
}

#OTPModalContent button {
  /* background-color: #00ead3; */
  /* color: #000000; */
}

.loginPageIllustration {
  height: 500px;
  width: 600px;
}

/****************************** SPINNER CLASS CSS ********************************/

.translucent {
  opacity: 0.5;
}
 

 



