/* .container{

margin-top: 10px;
padding-top: 20px;
padding-bottom:60px;
padding-right: 20px;
border-width:thin;
border-style: solid;
border-color:black;


} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.col-md-3{
    padding-bottom:10px;
}
#divActivites{
    border-width:thin;
    border-style: solid;
    border-color:#FFFF;
}
.mybtn-right{
    float:right;
    text-align: right;
}
.mybtn-left{
    float:left;
    text-align: left;
}
.myicon{

} 


body{
    background-color: black;
}
.accordion-body{
    background-color: #444444;
    color:white;
}
.accordion-button{
    background: #212529;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.accordion-button:not(.collapsed){
    color:white;
    background-color:#212529;
    box-shadow: none;
}
.add-border {
    border: 1px solid white;
}



.headTitle {
    margin-top: 30px;
    background-image: linear-gradient(359deg, #f3ec78, #af4261);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
}
.btn-view{
   
    border: 1px solid #00EAD3;
    color:white;
   
}
.btn-view:hover{
    
    background-color: #00EAD3;
    color: #000000;
}

.viewbtn{
    padding-top: 5px;
    padding-bottom: 30px;
}