/* .container{

margin-top: 10px;
padding-top: 20px;
padding-bottom:60px;
padding-right: 20px;
border-width:thin;
border-style: solid;
border-color:black;


} */

.col-md-3{
    padding-bottom:10px;
}
#divActivites{
    border-width:thin;
    border-style: solid;
    border-color:#FFFF;
}
.mybtn-right{
    float:right;
    text-align: right;
}
.mybtn-left{
    float:left;
    text-align: left;
}
.myicon{

}


