@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
.view_table{
    width:100%;
    border-spacing: 5px;
    border-collapse: separate;
    white-space: nowrap;
    color: #121212;
}

.fixed-column {
  position: sticky;
  width: 5em;
  right: 0;
  top: auto;
  /* border-top-width: 1px;
  margin-top: -1px; */
}

.searchbar {
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.searchbar:focus, .searchbar:active {
  background: transparent; 
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  outline: none;
}

.view_table th {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    font-weight: bold;
    color: #bbbbbb;
    box-shadow: 0px 0px 1rem #000;
}

.view_table td {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    min-width: 150px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0px 0px 1rem #000;
}

#viewSection {
  position: relative;
  border: 5px solid #444444;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-right: 0px;
  padding-left: 0px;
}
/* 
#tableBody {
  position: relative;
  top: 0;
  right: 0;
} */

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style:none;
  border-width: 0;
}
/* .search-wrap {
  background: url('../img/showcase.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}
  
.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
}
  
.search-form input[type='submit']:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}
  
.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}
  
.search-form i {
  color: #333;
}

.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}
input[type='search'] {
  flex-basis: 600px;
} */

.delete-btn {
}


.messageWhenEmpty {
  color: #656464;
  opacity: 0.7;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
}

/**************** PAGINATION CSS *****************/
.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem;
}

.pg-link {
  background-color: black;
  color: #00ead3;
  border: #00ead3 solid 1px;
}

.pg-link, #pageNumber {
  margin: 5px;
  font-weight: lighter;
  font-size: large;
  padding: 5px 10px 5px 10px;
  box-shadow: black;
  border-radius: 3px;
}

#pageNumber {
  background-color: #00ead3;
  color: black;
}

.pg-link:hover {
  background-color: #00ead3;
  color: black;
  cursor: pointer;
}

.pg-link.disable, .pg-link.disable:hover {
  background-color: black;
  color: #444444;
  border-color: #444444;
}
